

.profile_page {
    display: flex;
    justify-content: center;
    position: relative;

    &_wrapper {
        text-align: center;
        margin-top: 100px;

        &_info {
            h1 {
                color: #0091d9;
                font-weight: 800;
            }

            p {
                color: white;
            }
        }
    }

    .signOut {
        width: 100px;
        border: 0;
        outline: 0;
        cursor: pointer;
        padding: 15px 0;
        background-color: brown;
        box-shadow: 0 0 5px brown;
        color: white;
        border-radius: 10px;
        position: absolute;
        top: 0%;
        right: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        svg {
            font-size: 17px;
        }
    }

    .admin {
        width: 100px;
        border: 0;
        outline: 0;
        cursor: pointer;
        padding: 15px 0;
        background-color: rgb(8, 136, 145);
        box-shadow: 0 0 5px rgb(8, 136, 145);
        color: white;
        border-radius: 10px;
        position: absolute;
        top: 0%;
        right: 15%;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;

        svg {
            font-size: 17px;
        }
    }
}