@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.admin_layout {
  display: flex;
}

.admin_layout aside {
  width: 25%;
  height: 100vh;
}

.admin_layout main {
  width: 73%;
}

.css-13cymwt-control {
  width: 100% !important;
  padding: 8px 5px;
  border-radius: 8px !important;
  background: none !important;
  border: 2px solid #eee !important;
  color: white !important;
  outline: 0;
  font-size: 14px;
}

.css-t3ipsp-control {
  width: 100% !important;
  padding: 8px 5px;
  border-radius: 8px !important;
  background: none !important;
  border: 2px solid #eee !important;
  color: white !important;
  outline: 0;
  font-size: 14px;
}

.css-1dimb5e-singleValue {
  color: white !important;
}

.css-b62m3t-container {
  width: 545px !important;
}